
* {
    box-sizing: border-box;
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
}
body {
    margin: 0;
    position: relative;

    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}

main {
    width: 80%;
    max-width: 800px;
    margin: auto;
    border-left: 1px solid #3ac261;
    border-right: 1px solid #3ac261;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(4, 39, 3);
    background-blend-mode: normal, lighten, soft-light;
    background-color: white;

    min-height: 80vh;
 
}

main > h1 {
    margin: 0;
    padding-top: 1rem;
}

@media (max-width: 650px){
    main {
        width: 100%;
        border: none;
    }
}

a {
    color: #1cbb0a;
}

a:visited {
    color: #13321a;
}


