.main {
    padding: 1px 3%;
}

.main > * {
    margin-left: 5%;
    margin-right: 5%;
}

.embededForm{
    overflow: hidden;
    width: 100%;
    height: 1300px;
    position: relative;
    margin: 0;
}

.embededForm iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

