.frontImage {
    background-image: url("../../images/forohmingen.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto 350px;
    padding: 4% 4% 100px 4%;
    gap: 20px 4%; 
}

.joinUsButtonContainer,
.joinUsButtonContainer a {
    color: white;
    text-decoration: none;  
}

.joinUsButtonContainer:hover,
.joinUsButtonContainer a:hover,
.joinUsButtonContainer a:active {
    text-decoration: underline;
    color: #dddddd;
    background-color: #1ba532;
}

.buttonStyle {
    display: block;
    width: 100%;
    padding: 7px 12px;
    background-color: #18912c;
    text-align: center;
    
    font-size: 25px;
    box-shadow: 1px 1px 2px 1px #000000;    
    border: transparent;
}

.silhouetteContainer {
    align-self: center;
}

.silhouetteImg {
    width: 100%;
}

.faceBox {
    align-self: center;
}


@media (max-width: 900px){
    .gridContainer {
        grid-template-columns: auto;
        grid-column: 1;
    }    
    
    .silhouetteContainer {
        display: none;
    }

    .faceBox {
        text-align: center;
    }
}
