.main {
    padding: 1px 3%;
    padding-bottom: 100px;
}

.ul {
    list-style-type: none;
}

.ul li {
    margin: 20px 0px;
}

.anchorStyle {
    font-size: x-large;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.anchorStyle:visited {
    text-decoration:  none;
    color: rgba(0, 100, 23, 1);
}
.anchorStyle:hover {
    text-decoration: underline;
    color: rgba(27, 165, 50, 1);
}
.anchorStyle:active {
    text-decoration: underline;
    color: blue;
}

.tableStyle {
    border: 1px solid black;
    width: 100%;
    border-collapse:collapse; 
    border-spacing: 100px;
    font-size: large;
}

.tableStyle th, td {
    padding: 15px 10px;
}

.tableStyle th {
    text-align: left;
    border-bottom: 1px solid black;
}
.tableStyle tr:nth-child(2n){
    background-color: rgba(200, 220, 200);
}
/* 
.tableStyle tr: {
    background-color: green;
} */