.loginButton {
    display: none;
}

.logInPopup main {
    transform: rotate(0deg);
    margin: 0 auto;
    width: 100%;   

    /* Overriding main in app.css */
    min-height: 0;
}

.logInPopup {
    position: absolute;
    display: block;
    top: 86px;
    z-index: 200;

    width: 400px;
    left: 50%;
    margin-left: -200px;

}

/* For desktop */
@media (min-width: 650px){
    .loginButton {
        background-color: #18912c;
        border: none;
        color: white;
        padding: 15px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: 2px 2px 4px #000000;
        /* border-radius: 44px; */
    }

    .loginButton:hover {
        background-color: #1ba532;
    }
}