.dropZone {
    height: 150px;
    border-width: 2.5px;
    border-radius: 15px;
    border-style: dashed;
    border-color: #d9d9d9;
    color: #d9d9d9;

    cursor: pointer;
}

.dropZone:hover {
    border-style: solid;
    border-color: #2484FF;
    color: #2484FF;

    transition: all .20s linear;
}