.header {
    background-color: #333333;


    color: white;
    border-bottom: 5px #18912c solid;
    padding: 1rem 0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 5%;

    width: 75%;
    margin: auto;
}

.headerTitle {
    text-align: center;
    margin: 0;    
}

.headerTitle a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.green{
    color: #18912c;
}

.loginButton {
    display: none;
}

.hamburgerButton {
    grid-column: 2;
}

/* For desktop */
@media (min-width: 650px){
    /* Gjør plass til LOGG INN-button */
    .grid {
        grid-template-columns: auto auto auto;
    }

    .hamburgerButton {
        grid-column: 3;
        display: inline;
    }


}