.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    column-gap: 10px;
    margin: 20px 0px;
}

.buttonStyle {
    background-color: transparent;
    border: none;
    font-size: x-large;
}

.buttonHoverStyle:hover {
    color: #18912c;
    text-decoration: underline;
    cursor: pointer;
}