.form{
    /* border: 1px solid black; */
}

.inputTextBox {
    width: 100%;
    margin-bottom: 10px;
}

.textAreaBox {
    min-height: 70px;
    /* overflow: visible; */
    /* height: auto; */
}

.submitButton {
    background-color: #18912c;

    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 1px 1px 2px 1px #000000;
    /* border-radius: 44px; */
    margin-bottom: 10px;
}

.submitButton:hover {
    background-color: #1ba532;
}